/* Google Fonts */

:root {
    --bg-dark: #10100e;
    --bg-dark-2: #111216;
    --bg-light: #F5F5F5;
    --color-dark: #d2d3c9;
    --color-dark-2: #ffd300;
    --color-dark-3: #ffffe3;
    --color-light: #474747;

    --color-preview: hsl(210, 100%, 99%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg-dark);
    color: var(--color-dark-3);
    font-family: 'Chillax', sans-serif;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.toggle i {
    display: flex;
    flex-direction: row;
    justify-content: flex-end ;
    cursor: pointer;
}

main#main-container {
    margin: 2.5rem 1.7rem;
    position: relative;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 2em;
}

.projects article {
    display: flex;

    flex-direction: column;

    min-height: 12em;
    justify-content: center;
    align-items: center;
    min-width: 0;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

.projects span {
    margin-top: 1rem;
}

.projects article * {
    cursor: pointer;
}

.projects img {
    border-radius: 8px;
    width: 100%;
    object-fit: cover;
}

.projects iframe {
    border-radius: 8px;
}

.projects article figure figcaption {
    margin-top: 0.5em;
    text-align: center;
}


/* Media Queries */
@media (max-width: 968px) {
    .projects {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 576px) {
    .projects {
        grid-template-columns: 1fr;
    }
}